<style>
 
  form{
    box-shadow: 15px -12px #dc3545;
  }
</style>
<form class="form-signin border border-dark rounded p-5" action="/">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Éxito</h1>
    <p>
      Tu usuario ha sido creado</a>
    </p>
    
  </div>

  <button class="btn btn-lg btn-danger btn-block" type="submit">Home</button>
  <p class="mt-5 mb-3 text-muted text-center">© {{year}}</p>
</form>
